<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/index.css">
        <link rel="stylesheet" href="/error.css">
    </head>
    <body>
        <header>
            <h1><%= message %></h1>
        </header>
        <main class="error">
            <a href="/">
                <button>Back to home</button>
            </a>
        </main>
    </body>
</html>